

* {
	margin: 0;
	padding: 0;
    font-family: "Nunito Sans", sans-serif;
	

}
html,body{
		overflow-x: hidden;
}

.main-foot {
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

   
/* navbar */

.navbar-nav {
	margin-right: 0 !important;
	padding-right: 100px;
	
}

.navbar {
	background-color:  #0a193d;
	color: white !important;
}

.nav-item a {
	color: white !important;
	
}

.nav-item {
	padding-left: 2px;
}

.navbar-brand {
	color:white !important;
	padding-left: 100px;
}

#navbar button {
	color: white !important;
}

.nav-img {
	height: 60px;
}

/* Banner */
#hero {
	width: 100%;
	height: 90vh;
	background: #0b2147;
  }
  #hero .container {
	padding-top: 72px;
	
  }
  #hero h2 {
	color: rgb(255, 255, 255);
	margin-top: 50px;
	font-size: 24px;
	
  }
  #hero .animated {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  @media (max-width: 991px) {
	#hero {
	  height: 100vh;
	  text-align: center;
	}
	#hero .animated {
	  -webkit-animation: none;
	  animation: none;
	}
	#hero .hero-img {
	  text-align: center;
	}
	#hero .hero-img img {
	  width: 50%;
	}
  }
  @media (max-width: 768px) {
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
	#hero h2 {
	  font-size: 18px;
	  line-height: 24px;
	  margin-bottom: 30px;
	}
	#hero .hero-img img {
	  width: 70%;
	}
  }
  @media (max-width: 575px) {
	#hero .hero-img img {
	  width: 80%;
	}
	#hero .btn-get-started {
	  font-size: 16px;
	  padding: 10px 24px 11px 24px;
	}
  }
  
  @-webkit-keyframes up-down {
	0% {
	  -webkit-transform: translateY(10px);
	          transform: translateY(10px);
	}
	100% {
	  -webkit-transform: translateY(-10px);
	          transform: translateY(-10px);
	}
  }
  
  @keyframes up-down {
	0% {
	  -webkit-transform: translateY(10px);
	          transform: translateY(10px);
	}
	100% {
	  -webkit-transform: translateY(-10px);
	          transform: translateY(-10px);
	}
  }
/* Banner */

@media only screen and (max-width: 987px) {
	#banner-container {
		padding-bottom: 0px;
	}
}

#banner1{
	background-color: rgb(255, 255, 255);
}

#banner-container2 {
	padding-top: 60px;
	padding-bottom: 80px;
	color: #0a193d;
	-webkit-animation-name:fadeIn;
	        animation-name:fadeIn; 
  -webkit-animation-duration: 1s; 
          animation-duration: 1s; 
  -webkit-animation-timing-function: ease-in; 
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
	-webkit-animation-fill-mode: none;
	        animation-fill-mode: none;
	/* background-image: url(img/hello.jpg); */
}

#banner-row img {
	max-width: auto;
	height: auto;
	display: block;
	padding-left: 30px;
}


#banner-row h3,
p {
	padding-top: 10px;
	text-align: center;
}
@media (max-width:780px) {
	#banner-row img {
		margin-top: 0px;
	}

	#banner-row h3,
	p {
		/* padding-left: 20px; */
		margin-left: 5px;
		margin-right: 14px;
	}
	
}


#banner-row a {
	background-color: white !important;
	color: black !important;
	border: none;
	margin-left: 20px;
	margin-top: 20px;
}

#banner-col {
	padding-left: 20px;
	margin-top: 35px;
}

/* service */
#service {
	/* background-image: url(img/hello.jpg)!important; */

	padding-top: 80px;
	padding-bottom: 50px;
}

#service h1 {
	padding-bottom: 70px;
}

.i1 {
	border-radius: 50%;
}
.mb-3 {
	padding-top: 10px;
}

/* media */
@media only screen and (max-width: 987px) {
	.navbar-brand {
		padding-left: 0px;
	}
}

@media only screen and (max-width: 768px) {
	#banner-row img {
		padding-top: 20px;
	}

	.social-col {
		width: 33%;
	}
	
}

  
.row1 {
	display: -ms-flexbox;
	/* IE10 */
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	/* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column1 {
	-ms-flex: 25%;
	/* IE10 */
	-webkit-box-flex: 25%;
	        flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column1 img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column1 {
		-ms-flex: 50%;
		-webkit-box-flex: 50%;
		        flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column1 {
		-ms-flex: 100%;
		-webkit-box-flex: 100%;
		        flex: 100%;
		max-width: 100%;
	}
	
}

@media screen and (max-width: 600px) {


	.a-acm {
		margin-left: 32px;
		width: 310px;
		/* padding-left: 15px;
		  padding-right: 15px; */
	}
	
}


/* carousel */
.carousel-inner {
	border-top: 100px;
	border-left: 120px;
	border-right: 120px;
	border-bottom: 0px;
	border-color: #fff;
	border-style: solid;
	width: 1200px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
	width: 140px;
	height: 160px;
}

.carousel-control-prev {
	position: relative;

}

.carousel-control-prev-icon {
	position: absolute;
	left: 25.5rem;

}

.carousel-control-next {
	position: relative;

}

.carousel-control-next-icon {
	position: absolute;
	right: 25.5rem;
}

.hello {
	width: 1200px;
	margin: auto;
}

@media (max-width:780px) {
	.carousel-inner {
		border-top: 10px;
		border-left: 20px;
		border-right: 20px;
		border-bottom: 00px;
	}

	.carousel-control-prev-icon {
		position: absolute;
		left: 3.5rem;

	}

	.carousel-control-next-icon {
		position: absolute;
		right: 3.5rem;
	}

	.hello {
		width: 100%;
	}
}

.acmlogo {
	margin-top: 110px;
	
}
.acmlogo {
	margin-top: 110px;
}

.card-body{
	background-color: #0a193d;
	color: white;
}

/* Team */

.team{
	position: relative;
	width: 100%;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 95%;
	margin: 0 auto;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #33339a;
	border-radius: 15px;
	-webkit-transition: all .38s ease;
	-o-transition: all .38s ease;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	-webkit-transition: all .38s ease;
	-o-transition: all .38s ease;
	transition: all .38s ease;
}
.icons i:hover{
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}
.box:hover{
	-webkit-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	        transform: translateY(-10px);
	cursor: pointer;
}
@media(max-width: 1240px){
	.team{
		width: auto;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}
